header.header {
  background: linear-gradient(to bottom, #400455, #54166a, #68277f, #7d3795, #9248ac);;
  padding-top: 2rem;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}